<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Описание предприятия</title>
    <style>
        body {
            background-image: url(http://eskipaper.com/images/cars-wallpaper-7.jpg);
            background-attachment: fixed;
        }
        h3{
            font-family: "Comic Sans MS";
        }
        .frame {
         width: 450px;
         background: #F0F8FF;
         border: 5px;
         border-radius: 10px;
         border: 5px solid #fa7662;
         text-align: center;
         margin-top: 170px;
         margin-left: 40px;
        }
    </style>
</head>
<body>
<div class="frame">
    <h3>Система учета транспортных средств</h3>
    <h3>Дата основания: 14.09.2019</h3>
    <h3>Местоположение: СПб, Кронверский пр., 49</h3>
    <h3>Контакты: taxovospb@gmail.com, 420-40-40</h3>
    <h3>Директор: Труфанов Егор Владимирович (14.10.2001)</h3>
    <h3>Система создана совсем недавно</h3>

</div>
</body>
</html>